<a href="https://colab.research.google.com/github/syankariniharika/projects/blob/main/web_scraping_NewNb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup
import time
from IPython.display import clear_output
base_url='https://www.makaan.com/hyderabad-residential-property/buy-property-in-hyderabad-city?beds=3&page='

In [ ]:
def get_seller_info(soup):
  ''' functinos for scraping seller information 
  arguments:
  soup-soupf objects from beautifulsoup
  return-s_info-seller_info'''
  
  s_inf=soup.find_all('span',attrs={'class':'seller-type'})
  s_info=[s.text for s in s_inf]
  return s_info

def get_bhk(soup):
  bhk_1=soup.find_all('a',attrs={'data-type':'listing-link'})
  bhk=[x.span.text.strip() for x in bhk_1]
  return bhk

def get_price(soup):
  prc_1=soup.find_all('div',attrs={'data-type':'price-link'})
  price=[i.text for i in prc_1]
  return price

def get_locality(soup):
  loc=soup.find_all('span',attrs={'itemprop':'addressLocality'})
  locality=[x.text for x in loc]
  return locality

def get_area_sqft(soup):
  a=soup.find_all('td',attrs={'class':'lbl rate'})
  area_sqft=[s.text for s in a]
  return area_sqft

def get_area(soup):
  ar=soup.find_all('td',attrs={'class':'size'})
  area=[s.text for s in ar]
  return area

def get_constructions_status(soup):
  st=soup.find_all('td',attrs={'class':'val'})
  status=[x.text for x in st]
  return status

def get_no_bathrooms(soup):
  bh=soup.find_all('ul',attrs={'class':'listing-details'})
  b_rooms=[]
  for j in bh:
    try:
      b_rooms.append(j.li.text.split(' ')[0])
    except AttributeError:
      b_rooms.append('None')
  return b_rooms

In [ ]:
def Scrapedate(url,num_pages):

  global base_url

  sel_info=[]
  no_bhk=[]
  price=[]
  area=[]
  locality=[]
  area_sqft=[]
  status=[]
  no_bathrooms=[]

  for i in range(1,num_pages):

    time.sleep(3)
    print(f'page no:{i}')
    clear_output(wait=True)

    url=base_url+str(i)
    request=requests.get(url)
    soup=BeautifulSoup(request.content,'html')

    seller_info=get_seller_info(soup)
    for i in seller_info:
      sel_info.append(i)

    bhk=get_bhk(soup)
    for i in bhk:
      no_bhk.append(i)

    prc=get_price(soup)
    for i in prc:
      price.append(i)

    ara=get_area(soup)
    for i in ara:
      area.append(i)

    ar_sqft=get_area_sqft(soup)
    for i in ar_sqft:
      area_sqft.append(i)

    loc=get_locality(soup)
    for i in loc:
      locality.append(i)

    bathrooms=get_no_bathrooms(soup)
    for i in bathrooms:
      no_bathrooms.append(i)

    sts=get_constructions_status(soup)
    for i in sts:
      status.append(i)

  return sel_info,no_bhk,price,area,locality,area_sqft,no_bathrooms,status

In [ ]:
sel_info,no_bhk,price,area,locality,area_sqft,no_bathrooms,status=Scrapedate(base_url,501)

page no:500

In [ ]:
print(len(sel_info))
print(len(no_bhk))
print(len(price))
print(len(area))
print(len(locality))
print(len(area_sqft))
print(len(no_bathrooms))
print(len(status))

10000
10000
10000
10000
10000
10000
10000
10000

In [ ]:

import pandas as pd 
data=pd.DataFrame({'sel_info':sel_info,'no_bhk':no_bhk,'price':price,'area':area,'locality':locality,'area_sqft':area_sqft,'bathrooms':no_bathrooms,'status':status})
data

     sel_info no_bhk     price  ...      area_sqft   bathrooms              status
0     BUILDER      3   1.69 Cr  ...  5,756 / sq ft  Possession  Under Construction
1     BUILDER      3   63.94 L  ...  4,500 / sq ft  Possession  Under Construction
2     BUILDER      3   88.03 L  ...  4,800 / sq ft  Possession  Under Construction
3     BUILDER      3   74.02 L  ...  4,700 / sq ft  Possession  Under Construction
4     BUILDER      3   97.46 L  ...  6,200 / sq ft  Possession  Under Construction
...       ...    ...       ...  ...            ...         ...                 ...
9995    AGENT      3      65 L  ...  4,421 / sq ft  Possession  Under Construction
9996    AGENT      3      64 L  ...  4,398 / sq ft           3  Under Construction
9997    AGENT      3   1.37 Cr  ...  7,441 / sq ft         121       Ready to move
9998  BUILDER      3      80 L  ...  3,200 / sq ft           4       Ready to move
9999  BUILDER      3   65.44 L  ...  2,700 / sq ft  Possession  Under Construction

[10000 rows x 8 columns]